{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home Page{% endblock title %}
{% block main-content %}
<div class="container" >
    <h2 class="text-center">####Plans####</h2><br><Br>
    <div class  ="row">
        <div class="col">
          <div class="text-center">
            <div class="cpl-md-4 col-sm-4 mi-go wow fadeInUp"
                data-wow-duration="1s" data-wow-delay="0.6s"
                style="animation-duration:1s; animation-delay:0.6s;
                animation-name:none;">
                <div class="goodnesssec buttermilk smbg" style="width: 20rem;">
                    <div style="display:flex">
                      {% for i in data %}
                        <ul>
                            <h4>{{i.name}}</h4>
                            <h4>{{i.price_amount}}$</h4><br>
                            <button type="button" onclick="myFunction({{i}})" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#freeplan" id="myBtn">Select Plan</button>
                        </ul>
                      {% endfor %}
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<!--  Free Modal -->
<div class="modal fade" id="freeplan" tabindex="-1" aria-labelledby="freeplanid" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="freeplanid">Free plan</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <h4 id="planId"></h4>
         <h4 id="planName"></h4>
         <h4 id="planPrice"><h3><br>
      </div>
      <div class="modal-footer">
       
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="{% url 'checkout' %}"><button type="button" class="btn btn-primary">Buy Now</button></a>
        </div>
    </div>
  </div>
</div>

<script>
  // Get the modal
 var modal = document.getElementById("freeplan");
 var planId = document.getElementById("planId");
 var planName = document.getElementById("planName");
 var planPrice = document.getElementById("planPrice");
  // Get the button that opens the modal
 var btn = document.getElementById("myBtn");
  // Get the <span> element that closes the modal
 var span = document.getElementsByClassName("btn-close")[0];
 function myFunction(i){
  console.log(i,12333)
  console.log("hiiiiii")
planId.innerHTML=`planId : ${i.id}`
planName.innerHTML=`plan name : ${i.name}`
planPrice.innerHTML=`plan price : ${i.price_amount}$`
 }
   </script>
{% endblock main-content %}

